__pycache__/
.pytest_cache/
.vscode/
.DS_Store
Thumbs.db
build
dist
.venv
src/Investa/
data/
profiling/
docs/plans/
# scripts/
my_transactions.db

src/Investa.spec
requirements.in
src/refactor_main_gui.py.py
git_commit.txt
re-balancing.png
my_transactions_2.db
server.log
desktop_debug.txt
market_data.db
.env
sp500_recalc.log
