yf_portfolio_daily_results_*.json
yf_portfolio_hist_raw_adjusted_*.json
portfolio_cache_yf.json
__pycache__/
coding_plan.txt
coding_plan_2.rtf
.pytest_cache/
.vscode/
.DS_Store
Thumbs.db
Coding_plan.txt
__pycache__/portfolio_logic.cpython-312.pyc
__pycache__/portfolio_logic.cpython-312.pyc
portfolio_cache_yf.json
__pycache__/portfolio_logic.cpython-312.pyc
my_transactions_old.csv
__pycache__/portfolio_logic.cpython-312.pyc
numba_report.html
portfolio_logic.py.lprof
coding_plan_4.rtf
my_transactions_old_1.csv
my_transactions_old_2.csv
portfolio_cache_yf.json
test_save.csv
build
dist
.venv
coding_plan*
main_gui.py.lprof
__pycache__/
pytest.ini
style_dark_1.qss
style_dark_2.qss
.vscode
.pytest_cache
csv_backups
.gitignore
my_transactions.csv
Coding_plan.txt
coding_plan*
coding_plan_3.rtf
coding_plan_5.rtf
coding_plan_6.rtf
style_dark_1.qss
style_dark_2.qss
csv_backups/my_transactions_20250505_143412.csv
csv_backups/my_transactions_20250505_145515.csv
my_transactions_backup.csv
modify_csv.py
my_transactions_processed_v2.csv
my_transactions_1.csv
my_transactions_processed.csv
.gitignore
my_new_transactions_2.csv
gui_config_1.json
my_new_transactions_1.csv
manual_overrides.json
gui_config.json
test_icon.png
minimal_toolbar_test.py
investa_transactions_export_20250526.csv
investa_transactions_test.db
investa_transactions.db
Investa/manual_prices.json
empty_test.csv
